@model Vidly.ViewModels.ICustomersViewModel

<h2>Customers</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>Customer</th>
        <th>Membership</th>
    </tr>
    @foreach (var customer in Model.Customers) {
        <tr>
            <td>@Html.ActionLink(customer.Name, customer.DetailLink.ActionName, customer.DetailLink.ControllerName, customer.DetailLink.ActionProperties, null)</td>
            <td>@customer.MembershipName</td>
        </tr>
    }
</table>
