@model Vidly.ViewModels.IHomeViewModel

<div class="jumbotron">
    <h1>@Model.Navigation.BrandName @Model.Navigation.Version</h1>
    <p class="lead">This is a video rentals - get watching!</p>
</div>